<div style="text-align:center">
  <h1>
    Register To Trello
  </h1>



    <form 
      [formGroup]="form"  
      (ngSubmit)="createUser()" 
      class="w-100"
      id="login-form"
    >

        <input 
          formControlName="username"
          id="username-input" 
          class="form-control" 
          type="text" 
          name="username"
          placeholder="username"
        >

        <input 
          formControlName="email"
          id="email-input" 
          class="form-control" 
          type="text" 
          name="email"
          placeholder="email"
        >

        <input 
          formControlName="password"
          id="password-input" 
          class="form-control" 
          type="password" 
          name="password"
          placeholder="password"
        >
        
        <button 
          type="submit"
        >
          SignUp
        </button>
    
    </form>
    <p (ngClick)="registerUser()">Already have a Trello account? click 
          <a [routerLink]="['/']"
             (ngClick)="registerUser()" 
              >here
          </a> 

              to login
    </p>

  </div>
