<!-- <div *ngFor="let lista of list">
    {{ lista.title }}
</div> -->


 <!-- <p>{{list.title}}</p> -->



 <div style="display: inline-block; " >
        <div class="row mb-3">
            <div class="card text-white bg-dark  ml-5 mt-4"  >
      
                <div class="card-header" > <button style="color: #F7F0C6; background-color: transparent; border: none; display: inline;"                                        
                                                  class="nav-link" 
                                                  
                                             >
      
                                            <p style="font-size: 90%;">{{ list.title }}</p> 
                                          </button> 
                                          <i class="fa fa-bars" aria-hidden="true" ></i>
                </div>
                
                <div class="card-body">
                  <!-- <p class="card-text">Date Created: {{ board.date_created|date }}</p>
                  <p class="card-text">Created By: {{ board.owner }}</p> -->
                </div>
            </div>
        </div>
    </div>
    